<div class="container">
    <form style="width: 50%;" class="mx-auto signup-form">
        <div class="row">
            <p class="warning" id="warningEl" class="mx-auto"></p>
        </div>

        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input class="form-control" id="first_name">
        </div>

        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input class="form-control" id="last_name">
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input class="form-control" id="username">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Verify Password</label>
            <input type="password" class="form-control" id="verify">
        </div>

        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>

<script src="/javascript/signup.js"></script>